/* Custom font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*
  Lucho's Custom CSS Reset, inspired by Josh's Custom CSS Reset
  @https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

dialog {
  border: none;
  outline: none;
  max-width: 100%;
  padding: 0;
}

/* General styling*/
:root {
  font-family: "Rubik", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form styling */
form {
  border: solid black 1px;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8rem;
}

input {
  border-radius: 0.2;
  border: rgba(0, 0, 0, 0.6) solid 1px;
  border-radius: 0.2rem;
}

.btn {
  font-size: 0.9rem;
}
